<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CORIS HOLDING</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">ACCUEIL</a></li>
      <li><a routerLink="visiteurs">VISITEURS</a></li>
      <li><a routerLink="services">SERVICES</a></li>
      <li><a routerLink="visitees">EMPLOYES</a></li>
      <li><a routerLink="vigiles">VIGILES</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STATISTIQUE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">PAR SERVICES</a></li>
          <li><a href="#">PAR EMPLOYE</a></li>
          <li><a href="#">PERSONNE ETRANGERE</a></li>
        </ul>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">UTILISATEUR
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-list"></span>MISE A JOUR PROFIL</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>NOUVEL UTILISATEUR</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> DECONNEXION</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>