  <div class="container-fluid">
    <div class="col-md-6" style="padding-bottom: 10px;">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">ENREGISTRER SERVICE</button>
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <div class="panel panel-primary" *ngIf="services">
                  <!-- Default panel contents -->
                  <div class="panel-heading">ENREGISTRER UN NOUVEAU SERVICE</div>
                  <div class="panel-body">
                  <div class="form-row">
                    <div class="form-group">
                      <label for="inputEmail4">LIBELLE DU SERVICE</label>
                      <input type="text" class="form-control" id="inputEmail4" placeholder="Libellé du Service">
                      <div class="form-group">
                          <label for="inputState">ETAT</label>
                          <select id="inputState" class="form-control">
                            <option selected>ACTIF</option>
                            <option>INACTIF</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-row pull-right ">
                      <button type="reset" class="btn btn-default " data-dismiss="modal">ANNULER</button>&nbsp;
                      <button type="submit" class="btn btn-success ">VALIDER</button>
                  </div>
                  
          </div>
      </div>
      </div>
          </div>
        </div>
    
      </div>
    </div>
<div style="padding-top: 10px;">
    <div class="panel panel-info" *ngIf="services">
      <!-- Default panel contents -->
      <div class="panel-heading">LISTE DES SERVICES</div>
      <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NUMERO</th>
          <th>LIBELLE</th>
          <th>ACTION</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of services._embedded.services">
          <td>{{s.id}}</td>
          <td>{{s.libelle}}</td>
          <td><button (click)="onGetEmployes(s)" type="button" [ngClass]="s.id==serviceSelectionned.id?'btn btn-warning':'btn btn-default'">
            EMPLOYES</button>&nbsp;
            <button type="button" class="btn btn-primary">
              MODIFIER</button>&nbsp;
            <button type="button" class="btn btn-danger">SUPPRIMER</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>  
    </div>
    
  
  <div class="col-md-6">

    <div class="panel panel-primary" *ngIf="visitees">
      <!-- Default panel contents -->
      <div class="panel-heading">LISTE DES EMPLOYES ({{serviceSelectionned.libelle}}) </div>
      <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NUMERO</th>
          <th>NOM</th>
          <th>PRENOM</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of visitees._embedded.visitees">
          <td>{{e.id}}</td>
          <td>{{e.nom_visitee}}</td>
          <td>{{e.prenom_visitee}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  </div>
   
  </div>
  </div>