  <div class="container-fluid">
    <div class="col-md-5">
        <div class="panel panel-info" *ngIf="services">
            <!-- Default panel contents -->
            <div class="panel-heading">LISTE DES SERVICES</div>
            <div class="panel-body">
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">LIBELLE DU SERVICE</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Libellé du Service">
                <div class="form-group">
                    <label for="inputState">ETAT</label>
                    <select id="inputState" class="form-control">
                      <option selected>ACTIF</option>
                      <option>INACTIF</option>
                    </select>
              </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-default ">ANNULER</button>&nbsp;
                <button type="submit" class="btn btn-success ">VALIDER</button>
            </div>
            
    </div>
</div>
</div>

    </div>
  
  <div class="col-md-7">
    <div class="panel panel-info" *ngIf="services">
      <!-- Default panel contents -->
      <div class="panel-heading">LISTE DES SERVICES</div>
      <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NUMERO</th>
          <th>LIBELLE</th>
          <th>ACTION</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of services._embedded.services">
          <td>{{s.id}}</td>
          <td>{{s.libelle}}</td>
          <td><button type="button" class="btn btn-primary">
            MODIFIER</button>&nbsp;
            <button type="button" class="btn btn-danger">SUPPRIMER</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>  
  </div>
  </div>