/* You can add global styles to this file, and also import other style files */

.footer {
    position: relative;
    bottom: 0;
    width: 0;
    height: 70px;
    text-align: center; 
}
.navbar-default {
    background-color: blue;
    background-image: none;
    background-repeat: no-repeat;
  }